# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Your code here
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

print(df.head())

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

In [3]:

print("DataFrame Columns:", df.columns)
print("Data types:\n", df.dtypes)
print("Stadistics:\n", df.describe())
print("Nulls:\n", df.isnull().sum())

DataFrame Columns: Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Data types:
 Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object
Stadistics:
              Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678
Nulls:
 Customer                     2937
ST                           2937
GENDER                       3054
Education                    2937
Customer Lifetime Value      2940
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

In [4]:
print("Dimension:", df.shape)
print("\nInformation:")
print(df.info())

Dimension: (4008, 11)

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB
None

In [5]:
print("\nTipos de datos por columna:")
print(df.dtypes)

if df['Income'].dtype == 'object':
    try:
        df['Income'] = df['Income'].str.replace(',', '').astype(float) 
        print("'Income' converted too float.")
    except:
        print("Error converting 'Income'. Check nulls")

Tipos de datos por columna:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [9]:
print("\nUnique values:")
print(df.nunique())

categorical_columns = df.select_dtypes(include='object').columns
print("\n")
for col in categorical_columns:
    print(f"{col}:")
    print(df[col].value_counts())
    print()

Unique values:
Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64


Customer:
Customer
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: count, Length: 1071, dtype: int64

ST:
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

GENDER:
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

Education:
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

Customer Lifetime Value:
Customer Lifetime Value
445811.34%     4
251459.20%     4
272535.64%     3
578018.22%     3
684615.03%     3
              ..
245357.08%     1
507566.27%     1
321497.94%     1
1227534.31%    1
899704.02%     1
Name: count, Length: 1027, dtype: int64

Number of Open Complaints:
Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

Policy Type:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Vehicle Class:
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [10]:
print(df.describe())

for col in df.select_dtypes(include=['float64', 'int64']).columns:
    print(f"{col}:")
    print(f"- Mean: {df[col].mean():.2f}")
    print(f"- Median: {df[col].median():.2f}")
    print(f"- Mode: {df[col].mode()[0]:.2f}")
    print(f"- Standard desviation: {df[col].std():.2f}")
    print()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678
Income:
- Mean: 39295.70
- Median: 36234.00
- Mode: 0.00
- Standard desviation: 30469.43

Monthly Premium Auto:
- Mean: 193.23
- Median: 83.00
- Mode: 65.00
- Standard desviation: 1601.19

Total Claim Amount:
- Mean: 404.99
- Median: 354.73
- Mode: 321.60
- Standard desviation: 293.03

In [11]:
for col in categorical_columns:
    print(f"{col}:")
    print(df[col].value_counts(normalize=True) * 100)  
    print()

Customer:
Customer
RB50392    0.093371
HJ15383    0.093371
AO74776    0.093371
HQ82233    0.093371
OL72737    0.093371
             ...
RO26085    0.093371
ES57969    0.093371
JK55587    0.093371
RN97635    0.093371
MY31220    0.093371
Name: proportion, Length: 1071, dtype: float64

ST:
ST
Oregon        29.878618
California    19.701214
Arizona       17.366947
Cali          11.204482
Nevada         9.150327
Washington     7.563025
WA             2.801120
AZ             2.334267
Name: proportion, dtype: float64

GENDER:
GENDER
F         47.903564
M         43.291405
Male       4.088050
female     2.935010
Femal      1.781971
Name: proportion, dtype: float64

Education:
Education
Bachelor                30.252101
College                 29.225023
High School or Below    27.637722
Master                   8.776844
Doctor                   3.454715
Bachelors                0.653595
Name: proportion, dtype: float64

Customer Lifetime Value:
Customer Lifetime Value
445811.34%     0.374532
251459.20%     0.374532
272535.64%     0.280899
578018.22%     0.280899
684615.03%     0.280899
                 ...
245357.08%     0.093633
507566.27%     0.093633
321497.94%     0.093633
1227534.31%    0.093633
899704.02%     0.093633
Name: proportion, Length: 1027, dtype: float64

Number of Open Complaints:
Number of Open Complaints
1/0/00    77.497666
1/1/00    12.885154
1/2/00     4.668534
1/3/00     3.174603
1/4/00     1.213819
1/5/00     0.560224
Name: proportion, dtype: float64

Policy Type:
Policy Type
Personal Auto     72.829132
Corporate Auto    21.848739
Special Auto       5.322129
Name: proportion, dtype: float64

Vehicle Class:
Vehicle Class
Four-Door Car    53.781513
Two-Door Car     19.140990
SUV              18.580766
Sports Car        5.322129
Luxury SUV        1.867414
Luxury Car        1.307190
Name: proportion, dtype: float64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [12]:
location_frequencies = df['ST'].value_counts()
print(location_frequencies)

top_5_less_common = location_frequencies.nsmallest(5)
print(top_5_less_common)

top_5_less_common_sorted = top_5_less_common.sort_index()
print(top_5_less_common_sorted)

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64
ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64
ST
AZ             25
Cali          120
Nevada         98
WA             30
Washington     81
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [13]:
policy_counts = df['Policy Type'].value_counts()


print("Total # policies by type:")
print(policy_counts)


top_policy_type = policy_counts.idxmax()
top_policy_count = policy_counts.max()


print("\nThe most sold type:")
print(f"Type: {top_policy_type}, Sold: {top_policy_count}")

Total # policies by type:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

The most sold type:
Type: Personal Auto, Sold: 780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [14]:
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']


average_income_personal = personal_auto_df['Income'].mean()
average_income_corporate = corporate_auto_df['Income'].mean()


print(f"Average income for clients with policy type 'Personal Auto': ${average_income_personal:.2f}")
print(f"Average income for clients with policy type'Corporate Auto': ${average_income_corporate:.2f}")


if average_income_personal < average_income_corporate:
    print("Clients with 'Personal Auto' policies have a lower average income than those with 'Corporate Auto' policies..")
else:
    print("Clients with 'Corporate Auto' policies have a lower average income than those with 'Personal Auto' policies..")

Average income for clients with policy type 'Personal Auto': $38180.70
Average income for clients with policy type'Corporate Auto': $41390.31
Clients with 'Personal Auto' policies have a lower average income than those with 'Corporate Auto' policies..

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [15]:
percentile_75 = df['Total Claim Amount'].quantile(0.75)
print(f"75th percentile of the total claim amount: {percentile_75:.2f}")


high_claim_customers = df[df['Total Claim Amount'] > percentile_75]

print("\nClients with high claim amounts (above the 75th percentile):")
print(high_claim_customers.head())

summary_stats = high_claim_customers['Total Claim Amount'].describe()
print("\nSummary statistics for clients with high claim amounts:")
print(summary_stats)

75th percentile of the total claim amount: 532.80

Clients with high claim amounts (above the 75th percentile):
   Customer          ST GENDER Education Customer Lifetime Value   Income  \
1   QZ44356     Arizona      F  Bachelor              697953.59%      0.0
2   AI49188      Nevada      F  Bachelor             1288743.17%  48767.0
17  OE15005        Cali    NaN   College              394524.16%  28855.0
23  TZ98966      Nevada    NaN  Bachelor              245019.10%      0.0
26  US89481  California    NaN  Bachelor              394637.21%      0.0

    Monthly Premium Auto Number of Open Complaints     Policy Type  \
1                   94.0                    1/0/00   Personal Auto
2                  108.0                    1/0/00   Personal Auto
17                 101.0                    1/0/00   Personal Auto
23                  73.0                    1/3/00  Corporate Auto
26                 111.0                    1/0/00   Personal Auto

    Vehicle Class  Total Claim Amount
1   Four-Door Car         1131.464935
2    Two-Door Car          566.472247
17            SUV          647.442031
23  Four-Door Car          554.376763
26  Four-Door Car          799.200000

Summary statistics for clients with high claim amounts:
count     264.000000
mean      782.228263
std       292.751640
min       537.600000
25%       606.521741
50%       679.597985
75%       851.400000
max      2893.239678
Name: Total Claim Amount, dtype: float64